@page
@model Laborator_2.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div id="msg" class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Error"] != null)
{
    <div id="err" class="alert alert-danger">@TempData["Error"]</div>
}

@section Scripts {
    <script>

        setTimeout(() => {
            const msg = document.getElementById('msg');
            if (msg) {
                msg.style.transition = "opacity 0.6s ease";
                msg.style.opacity = "0";
                setTimeout(() => msg.remove(), 200);
            }

            const err = document.getElementById('err');
            if (err) {
                err.style.transition = "opacity 0.6s ease";
                err.style.opacity = "0";
                setTimeout(() => err.remove(), 200);
            }
        }, 3000);
    </script>
}


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publisher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
